<!DOCTYPE html> <!--teavitab brauserit, millise html versiooniga on faili puhul tegu-->
<html> <!--näitab, mida on vaja veebilehel kasutada-->
<head> <!-- brauseri jaoks info, mida tavaliselt kasutaja enamjaolt ei näe -->
<title>Veebiarendus Ryhm</title><!-- Title kuvab brauseri tabi nime -->
<link rel="stylesheet" type="text/css" href="Main.css"/>
</head> <!-- head lõpp tag-->
<body> <!-- kõik, mis kuvatakse veeblehel -->
<div id="header"> <!-- jaotise block -->
<h1>Veebiarendus</h1> <!-- Nähtav veebilehe pealkiri -->
<p>Rauli projekt</p> <!-- lõik -->
</div>
<div id="nav" class="Nav" ><!-- navigatsiooni jaotis-->
<ul>
<li id="active"><a href="index.html">Esileht</a></li><!-- luuakse link html failiga kuhu liikuda saab -->
<li><a href="second.html">Git kood</a</li><!-- luuakse link html failiga kuhu liikuda saab -->
<li ><a href="third.html">HTML'i kood</a></li>
</ul>
</div>
<hr /> <!-- horisontaalne joon -->
<div id="content1" class="sisux"><h2>Tere Tulemast!</h2>
<p>Enjoy your stay here!</p></div>

</body> <!-- body lõpp tag -->
</html> <!-- html lõpp tag-->
